.hymn-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 40px;
  width: 100%;

  .hymn-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
  }

}

.hymn-logo {
  width: 50px;
  height: auto;
}

.hymn-brand {
  margin-left: 20px;
  margin-top: 3px;
  color: #fff;
}

.hymn-menu {
  margin-left: auto;
  li {
    display: inline-block;
    text-transform: uppercase;
    font-family: "BrandonTextWeb-Bold";
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-left: 30px;
    &:last-child {
      a {
        background: $color-white;
        color: #4773e4;
        padding: 11px 14px 8px;
        border-radius: 28px;
      }
    }
    a {
      color: $color-lilac;
      text-decoration: none;
    }
  }
}
